.login{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.login-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*hero部分*/
.login-hero{
  height: 140px;
}
.login-hero h1.title{
  font-size: 36px;
  color:#FFFFFF;
  line-height: 42px;
  text-align: center;
  margin-top: 54px;
}
.login-hero p.slogan{
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color:#FFFFFF;

}
/*form部分*/
.login-form-wrap{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-form{
  display:flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}
.login-form input{
  border: none;
  outline: 0;
  text-indent: 20px;
  line-height: 56px;
  color:#878787;
  width: 100%;
}
.login-form input::placeholder{
  color:#CECECE;
}
.login-actions{
  margin-top: 14px;
}
.login-actions button{
  width: 100%;
  border: none;
  background: #FFFFFF;
  line-height: 56px;
  color:red;
}
.login-other-option{
  margin-bottom: 35px;
  margin-top: 15px;
  text-align: center;
}
.login-other-option a{
  display: inline-block;
  color:#FFFFFF;
  line-height: 20px;
}
